.fimg img {
    width: 900px;
    padding: 10px;
}

.title li {
    padding: 10px 0px 10px 0px;
    float: left;
    width: 33%;
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
}

.cur a {
    color: coral;
}

.topics li {
    list-style-type: none;
    float: left;
    width: 20%;
    padding: 10px 0px;
    margin-bottom: 10px;
    text-align: center;
}

.timg img {
    width: 95%;
    padding: 10px;
}